/**
 * Config
 *
 * @author Denis Mir
 **/

/**
 * Reference
 *
 * @type Map
 */
$reference: (dummy-value: 1, dummy-value: 2);

/**
 * Dummy One
 *
 * @type Map
 * @see {Map} reference
 */
$dummy-one: (dummy-value: 1, dummy-value: 2);

/**
 * Dummy Two
 *
 * @type Map
 * @see {Map} reference
 */
$dummy-two: (dummy-value: 1, dummy-value: 2);
