/**
 * See reference bug
 *
 * @author Denis Mir
 **/

/**
 * Reference
 *
 */
$reference: 1;

/**
 * Dummy One
 *
 * @see $reference
 */
$dummy-one: 2;

/**
 * Dummy Two
 *
 * @see $reference
 */
$dummy-two: 3;
